body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  display: flex;
}

.side-container {
  margin-top: 25%;
}

#game-board {
  font-size: 120%;
  background-color: #f44141;
  flex: 1;
}

#game-board td {
  width: 30px;
  height: 28.5px;
  /*border: 1px solid #ff919199;*/
  border: 1px solid #ff7676;
  text-align: center;
}

.bottom-drop-place {
  box-shadow: 0px 0px 1px 1px white;
}

.side-element {
  margin: 10px;
}

#next-tetromino {
  margin: 0 auto;
}

.red-button {
  background-color: white;
  border: 1px solid #f44141;
  border-radius: 25px;
  font-size: 115%;
  padding: 10px;
  color: #f44141;
  transition: ease-in-out 0.2s;
}

.red-button:hover {
  background-color: #f44141;
  cursor: pointer;
  color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.red-button:focus {
  outline: none;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*transition: ease-in-out 0.2s;*/
}

.modal-hidden {
  visibility: hidden;
}

.modal {
  width: 20%;
  margin: 0 auto;
  margin-top: 15%;
  background-color: white;
  /*border-radius: 25px;*/
  text-align: center;
}

.modal-round {
  border-radius: 10px;
}

.modal-spacious {
  padding:10px;
}

.modal-head {
  background-color: #f44141;
  color: white;
  font-size: 125%;
  padding: 5px;
}

.modal-element {
  margin: 0;
  padding: 12px;
}

.modal-element:hover {
  background-color: lightgray;
  cursor: pointer;
}
