body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  margin: 0 auto;
  margin-top: 10%;
  width: 50%;
  text-align: center;
  display: flex;
}

.side-container {
  margin-top: 25%;
}

#game-board {
  font-size: 120%;
  background-color: #f44141;
  flex: 1;
}

#game-board td {
  width: 30px;
  height: 28.5px;
  /*border: 1px solid #ff919199;*/
  border: 1px solid #ff7676;
  text-align: center;
}

.bottom-drop-place {
  box-shadow: 0px 0px 1px 1px white;
}

.side-element {
  margin: 10px;
}

#next-tetromino {
  margin: 0 auto;
}

.red-button {
  background-color: white;
  border: 1px solid #f44141;
  border-radius: 25px;
  font-size: 115%;
  padding: 10px;
  color: #f44141;
  transition: ease-in-out 0.2s;
}

.red-button-no-transition {
  transition: none;
}

.red-button:hover {
  background-color: #f44141;
  cursor: pointer;
  color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.red-button:focus {
  outline: none;
}

.red-input {
  border: 0;
  border-bottom: 2px solid #e95959;
  font-size: 100%;
  text-align: center;
}

#highscore-panel {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
}

#highscore-panel table {
  border-collapse: collapse;
}

#highscore-panel th {
  padding: 7px;
}

#highscore-panel thead {
  background-color: #f44141;
  color: white
}

.hidden-element {
  visibility: hidden;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.modal {
  width: 20%;
  margin: 0 auto;
  margin-top: 15%;
  background-color: white;
  text-align: center;
  /*transition: ease-in-out 0.2s;*/
  -webkit-animation-name: modal-animatein;
  -webkit-animation-duration: 0.4s;
  animation-name: modal-animatein;
  animation-duration: 0.4s
}

/* Modal animate in */
@-webkit-keyframes modal-animatein {
  from {margin-top: 10%; opacity: 0}
  to {margin-top: 15%; opacity: 1}
}

@keyframes modal-animatein {
  from {margin-top: 10%; opacity: 0}
  to {margin-top: 15%; opacity: 1}
}

.modal-fadeout {
  -webkit-animation-name: modal-animateout;
  -webkit-animation-duration: 0.4s;
  animation-name: modal-animateout;
  animation-duration: 0.4s
}

/* Modal animate out */
@-webkit-keyframes modal-animateout {
  from {margin-top: 15%; opacity: 1}
  to {margin-top: 20%; opacity: 0}
}

@keyframes modal-animateout {
  from {margin-top: 15%; opacity: 1}
  to {margin-top: 20%; opacity: 0}
}

.modal-overlay-fadeout {
  -webkit-animation-name: modal-overlayout;
  -webkit-animation-duration: 0.4s;
  animation-name: modal-overlayout;
  animation-duration: 0.4s;
  visibility: hidden;
}

@-webkit-keyframes modal-overlayout {
  from {opacity: 1}
  to {visibility: hidden; opacity: 0}
}

@keyframes modal-overlayout {
  from {opacity: 1}
  to {visibility: hidden; opacity: 0}
}

.modal-round {
  border-radius: 10px;
}

.modal-spacious {
  padding: 1.2%;
}

.modal-head {
  background-color: #f44141;
  color: white;
  font-size: 125%;
  padding: 5px;
}

.modal-element {
  margin: 0;
  padding: 12px;
}

.modal-element:hover {
  background-color: lightgray;
  cursor: pointer;
}

#controls-modal {
  width: 40%;
}

.control-key {
  /*border: 1px solid lightgray;*/
  border-radius: 5px;
  background-color: #f44141;
  padding: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.control-arrow {
  padding-left: 10px;
  padding-right: 10px;
}

#username-box {
  position: absolute;
  top: 10px;
  right: 30px;
}

#username-text {
  color: #f44141;
}
